---
import Layout from "@layouts/Layout.astro";
import { languages } from "@src/i18n/ui";
import { sizes } from "@src/scripts/consts";
import { categories } from "@src/scripts/categories";

export async function getStaticPaths() {
  const pages = [];
  const titles = [
    ...categories.love.titles,
    ...categories.solo.titles,
    ...categories.wedding.titles,
  ];

  for (const title of titles) {
    for (const lang in languages) {
      const imgSrcs =
        categories.love.projects.get(title) ||
        categories.solo.projects.get(title) ||
        categories.wedding.projects.get(title);

      pages.push({
        slug: title,
        lang,
        title: title,
        imgSrcs,
      });
    }
  }

  return pages.map(({ slug, lang, title, imgSrcs }) => {
    return {
      params: { slug, lang },
      props: { title, imgSrcs },
    };
  });
}

const { title, imgSrcs } = Astro.props;
---

<Layout title={`Elena Kustova - Portfolio - Work`}>
  <div>
    <h1 class="text-2xl font-serif font-bold text-center">
      {title}
    </h1>
    <div class="pics-wrap">
      {
        imgSrcs.map((src: string) => (
          <div class="w-fit mx-auto p-2">
            <picture class="pic">
              <source media="(max-width: 799px)" srcset={src} />
              <source media="(min-width: 799px)" srcset={src} />
              <img src={src} alt="" />
            </picture>
          </div>
        ))
      }
    </div>
  </div>
  <style></style>
</Layout>
