---
import { Image } from "astro:assets";
import StylesG from "@components/StylesG.astro"
import myPic from "@assets/mypic.jpg"
---

<!DOCTYPE html>
<html lang="en" x-data :class="$store.darkMode?.on && 'dark'">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Welcome page</title>
		<StylesG />
  </head>
  <body
    data-barba="wrapper"
    :class="navOpen && 'overflow-hidden'"
    x-data="{ navOpen: false }"
  >
    <div data-barba="container" data-barba-namespace={Astro.url}>
      <main>
        <div
          class="welcome-screen m-auto relative h-screen w-screen flex items-center"
        >
          <div class="fixed flex justify-center items-center top-0 left-0 w-screen h-screen">
            <Image
              class="rounded-md"
              format={"webp"}
              alt="Picture of Elena Kustova"
              src={myPic}
              width={600}
              height={650}
            />
          </div>
          <div
            class="relative title w-full text-6xl text-center font-serif font-bold"
          >
            <h1>
              <p>Elena Kustova</p>
              <p>Russian</p>
              <p>Photographer</p>
              <p>Based in Italy</p>
            </h1>
            <div class="py-8"></div>
            <div class="flex text-center px-8 w-fit m-auto">
              <a type="button" href="/en/home" id="eng-btn"><button>en</button></a>
              <a type="button" href="/ru/home" id="ru-btn"><button>ru</button></a>
              <a type="button" href="/en/home" id="it-btn"><button>it</button></a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
<style lang="scss">
  main {
    padding: 0;
  }
  .header {
    display: none;
  }
  .welcome-screen {
    @apply text-gray-700;
    img {
      object-position: 50% 50%;
      object-fit: cover;
    }

    button {
      @apply border p-4 mx-2;
      width: 100%;
    }
  }
</style>
<script>
import "@src/scripts/store";
  // import { textFadeInAnim } from "@src/scripts/transitions";
  // console.log(textFadeInAnim);
</script>
