---
import Layout from "@layouts/Layout.astro";
// import { sizes } from "@src/scripts/consts";

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ru" } }];
}
---

<Layout title="Elena Kustova - Portfolio">
	<div class="w-1/2 m-auto">
		<h1>Elena</h1>
		<h1>Kustova</h1>
		<h1>Photographer</h1>
		<img
			alt="Picture of Elena Kustova"
			src="../../assets/mypic.jpg"
		/>
		<div class="py-2"></div>
	</div>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
