---
import Layout from "@layouts/Layout.astro";
import Carousel from "@components/Carousel.astro";
import { Image } from "astro:assets";
import myPic from '@assets/mypic2.jpg';

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ru" } }];
}
---

<Layout title="Elena Kustova - Portfolio">
	<Carousel />
	<div class="m-auto">
  <!--   <Image -->
  <!--     format={"webp"} -->
  <!--     alt="Picture of Elena Kustova" -->
  <!--     src={myPic} -->
  <!--     width={600} -->
  <!--     height={650} -->
		<!-- /> -->
		<div class="py-2"></div>
		<div class="text-center">
		</div>
		<div class="py-2"></div>
	</div>
</Layout>

<style lang="scss">
main {
	margin: auto;
	padding: 1.5rem;
	max-width: 60ch;
}
h1 {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}
</style>
